################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api.personas/FileContentIndex/43d3aae0-84ec-4b13-ad03-4329fe08f6c5.vsidx
