################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api.personas/FileContentIndex/43d3aae0-84ec-4b13-ad03-4329fe08f6c5.vsidx
/.vs/api.personas/FileContentIndex/527e347b-7ed5-49c9-8f14-55fadc40f927.vsidx
